Media Queries: Tablet Landscape
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
  .overall{padding-left:0% }
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
  
}

body {
  background-image: url('../images/2391004.jpg');
 
}
.container {
  position: relative;
  width:320px;
  height:320px;
  margin-top: 50px;
  
  display: inline-block;
  /* margin: 30px 50px; */
}

.overall{
  text-align: center;
}
img{
  display:block;
  width:320px;
  height:320px;
  border-radius: 50%;
}

.overlay{
  position: absolute;
  bottom: 0;
  
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 40px;
  padding-bottom: 30px;
  /* padding: 10px; */
  text-align: center;
}

.overlay2{
  position: absolute;
  bottom: 0;
  font-weight:100;
  color: black;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: black;
  font-size: 40px;
  padding-bottom: 30px;
  /* padding: 10px; */
  text-align: center;
}
.container:hover .overlay{
  opacity: 1;
}
.container:hover .overlay2{
  opacity: 1;
}

.text{
  color: black;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%, -50%);
  font-size: 20px;
}
